on:
  push:
    branches:
      - main
    pull_request:

name: Run tests

jobs:
  test:
    permissions:
      contents: read

    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true

      - name: Download dependencies
        run: |
          go mod download
          go mod tidy -v

      - name: Test
        run: make test

      - name: Vet
        if: matrix.platform == 'ubuntu-latest'
        run: make vet

      - name: fmt
        if: matrix.platform == 'ubuntu-latest'
        run: make fmt

      - name: Vulnerabilty Test
        if: matrix.platform == 'ubuntu-latest'
        run: make vulncheck
