---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: |
            {"query":"query($name:String!$owner:String!$prCursor:String){repository(owner: $owner, name: $name){collaborators(first: 100, after: $prCursor){pageInfo{hasNextPage,endCursor},nodes{login,publicKeys(first: 100, after: null){nodes{key}}}}}}","variables":{"name":"allowedSignersFile","owner":"frankywahl","prCursor":null}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://api.github.com/graphql
        method: POST
      response:
        body: '{"data":{"repository":{"collaborators":{"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpHOAFB3Xw=="},"nodes":[{"login":"frankywahl","publicKeys":{"nodes":[{"key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBkZ1Tc8G6C5VtqY4UhkAB4GjfXk8CmjWDprHSC32N/Q"},{"key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHiZVRNPBDw5ilG0Psl+3kckQ97luUhdAeYs6DRmus0O"},{"key":"ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJvCgD6pc1tnu2QAmsrXwMVQ9RfbvfvlxAFJ3qhAfroP"}]}}]}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Github-Authentication-Token-Expiration:
                - 2023-05-12 22:00:00 UTC
            X-Accepted-Oauth-Scopes:
                - repo
            X-Github-Media-Type:
                - github.v4; format=json
            X-Oauth-Scopes:
                - delete:packages, gist, read:org, repo, workflow, write:packages
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4986"
            X-Ratelimit-Reset:
                - "1661359013"
            X-Ratelimit-Resource:
                - graphql
            X-Ratelimit-Used:
                - "14"
        status: 200 OK
        code: 200
        duration: 3.876854s
